// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
:root {
  --sad-orange: #FFCA4B;
  --sad-nightblue: #585068;
  --sad-secondary: #f4edff;
  --sad-blue: #1864ab;
  --sad-lightblue: #74c0fc;
  --sad-lightgray: #ced4da;
  --sad-darkgray: #495057;
  --sad-red: #c92a2a;
  --sad-green: #23a97b;
  --sad-yellow: #fed330;
  --body-bg: #f4edff;

  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-image: url(seamless_bg.jpg);
  background-color: var(--body-bg);
  background-size: 50%;
  margin: 0;
}
